.tabs-container {
  width: 100%;
  padding-left: 30px;
  padding-bottom: 10px;
}

.tabs {
  display: flex;
  position: relative;
  /* border-bottom: 2px solid #ccc; */
  width: max-content;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  flex: 1;
  text-align: center;
  color: #555;
  font-size: 18px;
  transition: color 0.3s ease;
  width: 150px;
}

.tab:hover {
  color: #007bff;
}

.active {
  color: #007bff;
  font-weight: bold;
}

.underline {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 160px; /* Adjust according to your tab width */
  height: 3px;
  background-color: #007bff;
  transition: transform 0.3s ease;
}
